* {
  margin: 0;
  padding: 0;
}

#quotes {
	position: relative;
	height: 100vh;
}

.add-quote {
	text-align: center;
}

.quote-container {
	text-align: center;
}

.quote {
	display: inline-block;
}

.quote-text {
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
}

.quote-open, .quote-close {
	display: inline-block;
  opacity: 0.8;
	font-family: serif;
	font-size: 4em;
}

.link-next, .link-previous {
	display: inline-block;
	font-size: 4em;
}

input[type='text'] {
	width: 50% !important;
}

.button-create {
	margin-right: 5px;
}

#footer {
	text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
	input[type='text'] {
		width: 100% !important;
	}

	.quote-container {
		display: flex;
		flex-direction: column;
	}

	.link-previous {
		align-self: flex-start;
		order: 1;
		margin-top: -102px;
	}

	
	.link-next {
		align-self: flex-end;
	}
}
